
html{
    width: 100vw;
    margin: 0 ;
    padding: 0 ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ",Meiryo,sans-serif;
}

header a {
    color: black;
    font-family: 'Kaisei Decol', serif;
    text-decoration: none;;
    font-size: 3vw;
    margin-right: 5vw;
    white-space: nowrap;
    padding: 2% 5%;
}

header a:hover {
    color: rgb(168, 168, 255);
    text-decoration: underline;
}



.jumpbutton {
    font-size: 20px;
    font-family: "Kaisei Decol", serif;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 24px 40px;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 10%;
    border: #000000 solid 2px;
}


.jumpbutton:hover {
    background-color: gray;
}

.title {
    font-size: 48px;
    font-family: "Kaisei Decol", serif;
    color: white;
    margin-left: 10%;
    text-shadow: 2px 2px 4px #000000;  
    word-break: keep-all;
    white-space: normal;
    padding: 20vh 0 10% 0;
    background-color: yellow;
}


.video-bg {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.video-bg .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.overlay {
    position: absolute;
}

.Mokuji {
    font-size: 60px;
    font-family: "Kaisei Decol", serif;

}
.Mokuji_text {
    font-size: 24px;
    font-family: "Kaisei Decol", serif;
    margin-bottom: 5%;
}

.Mokuji2 {
    font-size: 24px;
    font-family: "Kaisei Decol", serif;
    position: relative;
    text-align: right;
    margin: 10px  0 0;
    width: auto;
    font-size: 60px;
}

.Mokuji2_text {
    font-size: 24px;
    font-family: "Kaisei Decol", serif;
    position: relative;
    text-align: right;
    margin: 0 0 0 0;
    width: auto;
    margin-bottom: 5%;
}

/*fadein*/
.fadein {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

/*fontOptions*/

.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.train-one-regular {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*fontOptions end*/