.html{
    width: 1980px;
    height: 1080px;
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ",Meiryo,sans-serif;
}

header a {
    color: black;
    font-family: 'Kaisei Decol', serif;
    text-decoration: none;;
    font-size: 3vw;
    margin-right: 5vw;
    white-space: nowrap;
    padding: 2% 5%;
}

header a:hover {
    color: rgb(168, 168, 255);
    text-decoration: underline;
}

body {
    margin: 0;
    padding-top: 10%; /* ヘッダーの高さと同じにする */
    width: auto;
}

.Title {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 2vh;
    font-family: 'Kaisei Decol', serif;}

.SubTitle {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4vh;
    font-family: 'Kaisei Decol', serif;
}

.box {
    border: 2px solid black;
    position :center;
    width: 60%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Kaisei Decol", serif;
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.8);
}

.Name {
    display: block;
    position: center;
    margin-left: auto;
    height: auto;
    font-family: 'Kaisei Decol', serif;
    background-color: rgba(0, 0, 0, 0.147);
    font-size: 50%;
}

/*fontOptions*/

.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.train-one-regular {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*fontOptions end*/