header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ",Meiryo,sans-serif;
}

header a {
    color: black;
    font-family: 'Kaisei Decol', serif;
    text-decoration: none;;
    font-size: 3vw;
    margin-right: 5vw;
    white-space: nowrap;
    padding: 2% 5%;
}

header a:hover {
    color: rgb(168, 168, 255);
    text-decoration: underline;
}


body {
    margin: 0;
    padding-top: 10%; /* ヘッダーの高さと同じにする */
    width: auto;
}

.NameSerch{
    position: center;
    width: 100%;
    height: 70vh;
    margin: 0 auto 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(255, 0, 0, 0.7);
}

.NameSerch h1{
    font-size: 8vw;
    font-family: "DotGothic16", sans-serif;
    color: black;
}

.MaterialSerch{
    position: center;
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 255, 0.7);
}

.MaterialSerch h1{
    font-size: 8vw;
    font-family: "Kaisei Decol", serif;
    color: black;
}

.AreaSerch {
    position: center;
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 255, 0, 0.7);
}

.AreaSerch h1{
    font-size: 5vw;
    font-family: "Kaisei Decol", serif;
    color: black;
}

.AichiButton {
    font-size: 20px;
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ",Meiryo,sans-serif;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
    height: auto;
}
.AichiButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(168, 168, 255);
}


#searchInput {
  width: 30%;
  margin: 8px auto 0;
  padding: 24px 20px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 30px;
}

#suggestions {
  list-style: none;
  margin: 8px auto 0;
  text-align: left;
  padding: 0;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: center;
  background: white;
}

#suggestions li {
  padding: 8px;
  cursor: pointer;
}

#suggestions li:hover {
  background: #f0f0f0;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto 0;
    justify-content: center;
}

.tab {
    padding: 0px 40px;
    cursor: pointer;
    border: 1px solid #999;
    background: #eee;
    font-size: 30px;
    font-family: "Kaisei Decol", serif;
    color: black;
    border-radius: 30px;
}

.tab.active {
  padding: 40px 60px;
  background: white;
  border-bottom: 2px solid dodgerblue;
}

.content {
  display: none;
  padding: 20px;
  border: 1px solid #999;
  margin-top: 10px;
}

.content.active {
  display: block;
}

/*fadeim*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

/*fontOptions*/

.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.train-one-regular {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*fontOptions end*/
